body{
font-family:Arial;
background:linear-gradient(120deg,#667eea,#764ba2);
display:flex;
justify-content:center;
padding:40px;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:500px;
}

input,select,button{
width:100%;
padding:10px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;
}

button{
background:#4CAF50;
color:white;
border:none;
cursor:pointer;
}

ul{
list-style:none;
padding:0;
}

li{
background:#eee;
margin:5px 0;
padding:10px;
display:flex;
justify-content:space-between;
}

.charts{
margin-top:30px;
}

canvas{
background:white;
margin-top:20px;
}

.dark{
background:#1e1e1e;
color:white;
}

.dark .container{
background:#333;
}